* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1b1b1b;
    color: white;
    line-height: 1.6;
}

header {
    background: url('server.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


header h1 {
    font-size: 4rem;
}

header p {
    margin: 20px 0;
    font-size: 1.5rem;
}

.btn {
    background: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ff4436;
}

.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.feature {
    background: #292929;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.feature h3 {
    color: #ff6f61;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #888;
}
